<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950075868528-p6i010g3fcj33bov3mm5r807b4gdt1oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950075868528-p6i010g3fcj33bov3mm5r807b4gdt1oe</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ0dRhUu_vlcxczcJ6qseBPOP4gZ61Ax4</string>
	<key>GCM_SENDER_ID</key>
	<string>950075868528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cryptotrade.cryptotrade</string>
	<key>PROJECT_ID</key>
	<string>cryptomx-7c996</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptomx-7c996.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950075868528:ios:a887107523a7dc9debbbb5</string>
</dict>
</plist>